:root {
  --primary: #0074d9;
  --clearlist-btn-bg: #efefef;
  --clearlist-btn-hover-bg: #eaeaea;
  --clearlist-btn-border: transparent;
  --clearlist-btn-color: #666;
}

.dark {
  --primary: #bb86fc;
  --clearlist-btn-bg: rgba(255, 255, 255, 0.14);
  --clearlist-btn-hover-bg: rgba(255, 255, 255, 0.21);
  --clearlist-btn-border: transparent;
  --clearlist-btn-color: #bbb;
}

.clearlist {
  background-color: var(--clearlist-btn-bg);
  border: var(--clearlist-btn-border);
  font-weight: 700;
  padding: 14px 20px;
  border-radius: 6px;
  display: inline-block;
  color: var(--clearlist-btn-color);
  transition: background-color 0.2s, transform 0.2s;
  cursor: pointer;
}

.clearlist:hover {
  background-color: var(--clearlist-btn-hover-bg);
}

.clearlist:active {
  background-color: var(--clearlist-btn-hover-bg);
  transform: scale(0.9);
}
