:root {
  --primary: #0074d9;
  --dialog-bg: var(--primary);
  --dialog-color: #fff;
  --confirm-btn-bg: #fff;
  --confirm-btn-color: #0074d9;
  --cancel-btn-bg: #0074d9;
  --cancel-btn-bg-hover: #0066be;
  --cancel-btn-color: #fff;
}

.dark {
  --primary: #bb86fc;
  --dialog-bg: var(--primary);
  --dialog-color: #37234e;
  --confirm-btn-bg: #37234e;
  --confirm-btn-color: var(--primary);
  --cancel-btn-bg: transparent;
  --cancel-btn-bg-hover: #9f70d8;
  --cancel-btn-color: #37234e;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000055;
  z-index: 120;
  transition: opacity 0.3s;
}

.confirmdialog {
  background-color: var(--dialog-bg);
  color: var(--dialog-color);
  border-radius: 6px;
  padding: 30px;
  min-width: 285px;
  box-shadow: 1px 2px 3px #00000022, 1px 2px 9px #00000022;
  transition: opacity 0.3s;
  z-index: 130;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirmdialogp {
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 1.1rem;
}

.confirmdelete {
  border: none;
  background-color: var(--confirm-btn-bg);
  color: var(--confirm-btn-color);
  padding: 18px 32px;
  border-radius: 6px;
  font-weight: 700;
  transition: transform 0.2s, opacity 0.2s;
  cursor: pointer;
}

.confirmdelete:hover {
  opacity: 0.7;
}

.confirmdelete:active {
  opacity: 0.7;
  transform: scale(0.9);
}

.canceldelete {
  border: none;
  background-color: var(--cancel-btn-bg);
  color: var(--cancel-btn-color);
  padding: 18px 32px;
  border-radius: 6px;
  font-weight: 700;
  transition: transform 0.2s, background-color 0.2s;
  margin-left: 10px;
  cursor: pointer;
}

.canceldelete:hover {
  background-color: var(--cancel-btn-bg-hover);
}

.canceldelete:active {
  background-color: var(--cancel-btn-bg-hover);
  transform: scale(0.9);
}
