:root {
  --quote-bg: #0074d911;
  --quote-color: #0074d9aa;
}

.dark {
  --quote-bg: #bb86fc11;
  --quote-color: #bb86fcaa;
}

.container {
  border-radius: 10px;
  margin: 0 auto 200px;
  max-width: 550px;
  background-color: var(--quote-bg);
  color: var(--quote-color);
  width: 80vw;
  padding: 20px;
}

.quote {
  padding: 0px 15px;
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
  word-break: break-word;
  margin-bottom: 20px;
}

.author {
  padding: 0px 15px;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.5;
  word-break: break-word;
}
