.container{
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-items: center;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-bottom: 10px;
    max-width: 550px;
    background-color: #0074d922;
}

.quotestyle{
    
    flex: 1;
    padding: 0px 15px;
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
    transition: opacity 0.2s;
    word-break: break-word;

}
    
    

