:root {
  --primary: #0074d9;
  --item-checked-bg: transparent;
  --item-unchecked-bg: #0074d922;
  --item-icon-bg: #fff;
  --item-icon-border: solid 1px var(--primary);
  --item-checkmark-color: var(--primary);
  --item-trash-bg: #0074d944;
  --item-trash-color: #0d68b8;
}

.dark {
  --primary: #bb86fc;
  --item-checked-bg: none;
  --item-unchecked-bg: #bb86fc22;
  --item-icon-bg: rgba(255, 255, 255, 0.07);
  --item-icon-border: solid 1px #fff;
  --item-checkmark-color: #fff;
  --item-trash-bg: #bb86fc44;
  --item-trash-color: #cda8fa;
}

.todo {
  border-radius: 6px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.checked {
  background-color: var(--item-checked-bg);
}

.unchecked {
  background-color: var(--item-unchecked-bg);
}

.icon {
  margin: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--item-icon-bg);
  border: var(--item-icon-border);
  color: var(--item-checkmark-color);
  display: grid;
  place-items: center;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon:active {
  transform: scale(0.8);
}

.trash {
  margin: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--item-trash-bg);
  border: solid 1px transparent;
  color: var(--item-trash-color);
  display: grid;
  place-items: center;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s;
}

.trash:active {
  transform: scale(0.8);
}

.description {
  flex: 1;
  padding: 15px;
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  transition: opacity 0.2s;
  overflow: hidden;
  word-break: break-word;
  transition: opacity 0.3s;
}

.checked .description {
  opacity: 0.6;
  text-decoration: line-through;
}

.unchecked .description:hover {
  opacity: 0.6;
}
