.container {
  padding: 90px 20px 40px;
  max-width: 650px;
  margin: 0 auto;
  position: relative;
}

.container:empty::before {
  content: 'Nothing to do 🤷‍♂️';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 180px;
}
