:root {
  --primary: #0074d9;
}

.dark {
  --primary: #bb86fc;
}

.container {
  padding: 0px 20px 20px;
  max-width: 650px;
  margin: 0 auto;
  position: relative;
}

.emptylist {
  margin-top: 90px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--primary);
  font-weight: 700;
}

.emptylist span {
  margin: 5px;
  font-size: 2rem;
}
