:root {
  --primary: #0074d9;
  --overlay-bg: var(--primary);
  --overlay-cancel-btn-bg: #fff;
  --ocerlay-cancel-btn-color: var(--primary);
  --overlay-title-color: #fff;
  --overlay-textarea-bg: #00000044;
  --overlay-textarea-color: #fff;
  --overlay-submit-btn-bg: #fff;
  --overlay-submit-btn-color: var(--primary);
}

.dark {
  --primary: #bb86fc;
  --overlay-bg: var(--primary);
  --overlay-cancel-btn-bg: #fff;
  --ocerlay-cancel-btn-color: #37234e;
  --overlay-title-color: #37234e;
  --overlay-textarea-bg: #00000011;
  --overlay-textarea-color: #37234e;
  --overlay-submit-btn-bg: #37234e;
  --overlay-submit-btn-color: var(--primary);
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000033;
  z-index: 120;
  transition: opacity 0.3s;
}

.overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--overlay-bg);
  padding: 20px;
  z-index: 125;
  transition: bottom 0.3s;
}

.cancelbutton {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--overlay-cancel-btn-bg);
  color: var(--ocerlay-cancel-btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 3px #00000022, 1px 2px 9px #00000022;
  transition: transform 0.2s, opacity 0.2s;
  cursor: pointer;
}

.cancelbutton:hover {
  opacity: 0.8;
}

.cancelbutton:active {
  transform: translateX(-50%) scale(0.9);
}

.form {
  margin: 0 auto;
  max-width: 400px;
}

.form h2 {
  color: var(--overlay-title-color);
  font-weight: 700;
  font-size: 2rem;
  margin: 0 4px 15px;
  text-align: center;
}

.form textarea {
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  resize: none;
  background-color: var(--overlay-textarea-bg);
  color: var(--overlay-textarea-color);
  line-height: 1.8;
  font-size: 1rem;
  box-shadow: inset 1px 1px 3px #00000033, inset 1px 1px 9px #00000033;
}

.submitbutton {
  margin: 0 auto;
  display: block;
  border: none;
  background-color: var(--overlay-submit-btn-bg);
  color: var(--overlay-submit-btn-color);
  padding: 20px 36px;
  border-radius: 6px;
  font-weight: 700;
  transition: transform 0.2s, opacity 0.2s;
  cursor: pointer;
}

.submitbutton:hover {
  opacity: 0.6;
}

.submitbutton:active {
  opacity: 0.6;
  transform: scale(0.9);
}
