.clearlistcontainer {
  position: relative;
}

.clearlist {
  background-color: transparent;
  border: none;
  font-weight: 700;
  padding: 18px 24px;
  border-radius: 26px;
  display: block;
  margin: 0 auto 200px;
  color: #00000088;
  transition: box-shadow 0.2s, transform 0.2s;
  box-shadow: 1px 1px 3px #00000022, 1px 1px 9px #00000022;
  cursor: pointer;
}

.clearlist:hover {
  box-shadow: 1px 1px 3px #00000033, 1px 1px 9px #00000033;
}

.clearlist:active {
  box-shadow: 1px 1px 3px #00000033, 1px 1px 9px #00000033;
  transform: scale(0.9);
}
